<ion-view view-title="关于首页" class="light-bg">
    <ion-nav-buttons>
        <button class="button button-clear icon ion-navicon" menu-toggle></button>
    </ion-nav-buttons>
    <ion-content style="width:100%" id="home">
        <ion-refresher class="ionic-refresher-with-text" on-refresh="refresh()"
                       pulling-text="下拉刷新" refreshing-text="努力刷新中..." pulling-icon="ion-radio-waves">
        </ion-refresher>

        <ion-slide-box auto-play="true" slide-interval="2000" does-continue="true">
            <ion-slide>
                <div class="box"><img src="images/1.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/2.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/3.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/4.jpg"></div>
            </ion-slide>

        </ion-slide-box>
        <div class="list card"  ng-repeat="product in products">

            <div class="item item-avatar item-remove-animate">

                        <img src="images/userImg.png">
                        <P>{{product.hashId}}</P>
                        <p>{{product.content}}</p>
                    </div>

                    <div class="item item-image">
                        <img src="{{product.url}}">
                    </div>
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item" ng-click="addFav(product)">
                        <i class=" icon ion-android-favorite" ></i>
                    </a>
                    <a class="tab-item" ng-click="like(product)">
                        <i class=" icon ion-thumbsup icon-left" ></i>{{product.likes}}
                    </a>
                    <a class="tab-item">
                        <i class=" icon ion-android-textsms icon-left"></i>{{product.comments}}
                    </a>
                </div>
            <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
        </div>


    </ion-content>


</ion-view>


