<ion-view view-title="欢迎光临" id="tour-view">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="tabs.home"  ng-if="isShow">进入</a>
    </ion-nav-buttons>

    <!--<ion-content>-->
        <ion-slide-box on-slide-changed="onSlideChange()">
            <ion-slide>
                <div><img src="images/tour01.jpg"></div>

                <h2>你就像一个天使</h2>
            </ion-slide>
            <ion-slide>
                <div><img src="images/tour02.jpg"></div>

                <h2>拥有美丽的时光</h2>
            </ion-slide>

            <ion-slide>
                <div><img src="images/tour03.jpg"></div>

                <h2>让世界看到你的微笑</h2>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>